.window-header {
	position: absolute;
	top: 3.5px;
	left: 4px;
	height: 23px;
	width: calc(100% - 13px);
	color: black;
    border: 3px solid black;
	display: flex;
	h1 {
		font-size: 12px;
		font-family: "Pixel";
		font-weight: 600;
		display: flex;
		align-items: center;
		margin: 0 0 2px 0;
		padding: 0 6px;
		position: relative;
		top: 1px;
		text-wrap: nowrap;
	}
	.icon {
		background-color: black;
		margin: 2.5px 0 2.5px 3px;
		min-width: 18px;
	}
	img {
		padding: 2px 0 2px 5px;
	}
}
button:focus {
	outline: none;
}
.window-control {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	button {
		margin: 1px 4px 1px 0;
		width: 18px;
		height: 18px;
		background-color: transparent;
		border: none;
		background-size: cover;
		&:hover::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #e599ee;
			opacity: .2;
			filter: none;
		}
	}
    .minimize-btn {
		filter: brightness(0%);
		background-image: url("../../../assets/minimize.png");
    }
    .maximize-btn {
		filter: brightness(0%);
		background-image: url("../../../assets/maximize.png");
    }
    .close-btn {
		filter: brightness(0%);
		background-image: url("../../../assets/button_close.png");
    }
}