@font-face {
	font-family: "Dinkie";
	src: url("../../assets/fonts/DinkieBitmap-7px.ttf") format("truetype");
}
@font-face {
	font-family: "Pixel";
	src: url("../../assets/fonts/PixelMplus10-Regular.ttf") format("truetype");
}

.Taskbar {
	height: 38px;
	background: linear-gradient(to bottom right, #121213, #232325);
	background: #F1DCF7;
	border-top: 3px solid white;
	display: flex;
}

.window {
	color: #431CC3;
	font-weight: 300;
	margin: 2px 2px 2px 4px;
	height: 30px;
	background: #F1DCF7;
	border-width: 2px;
	border-top-width: 3px;
	border-left-width: 3px;
	border-color: #ffffff #808080 #808080 #ffffff;
	border-style: solid;
	display: flex;
	gap: 4px;
	align-items: center;
	max-width: 235px;
	flex-grow: 1;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: "Dinkie";
	overflow: hidden;
	&.active {
		outline-style: none;
		border-color: white;
		border-top-color: #000000a5;
		border-left-color: #000000a5;
		position: relative;
		top: 1px;
		left: 1px;
		// background: url('../../assets/selectedBg.png');
		background-color: #D7C0DA;
	}
	&:active {
		outline-style: none;
		border-color: white;
		border-top-color: #000000a5;
		border-left-color: #000000a5;
		position: relative;
		top: 1px;
		left: 1px;
	}
	.icon {
		background-color: #4E23CF;
		margin: 2.5px 3px 2.5px 3px;
		width: 16.5px;
		height: 16.5px;
	}
	img {
		height: 75%;
	}
	span {
		max-width: 1000px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.start {
	margin: 2px 2px 2px 4px;
	height: 30px;
	background: #F1DCF7;
	border-width: 2px;
	border-top-width: 3px;
	border-left-width: 3px;
	border-color: #ffffff #808080 #808080 #ffffff;
	display: flex;
	gap: 4px;
	align-items: center;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: "Pixel";
	&:active {
		outline-style: none;
		border-color: white;
		border-top-color: #808080c6;
		border-left-color: #808080c6;
		position: relative;
		top: 1px;
		left: 1px;
	}
	img {
		height: 80%;
	}
}

.system-tray {
	font-family: "Dinkie";
	text-wrap: nowrap;
	margin: 3px;
	margin-top: 2px;
	border: 2px solid white;
	border-top-color: #808080;
	border-left-color: #808080;
	min-width: 84px;
}

.time {
	margin: 5px 14px;
	position: relative;
	top: 2px;
}

.opened-windows {
	display: flex;
	width: calc(100% - 88px - 96px);
	height: 100%;
	overflow: hidden;
}
