.desktop-shortcut {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Windows Regular";
	color: white;
	font-size: 12px;
	position: absolute;
	padding: 10px;
	img {
		width: 32px;
	}
	&:hover {
		// background-color: rgba(173, 216, 230, 0.733);
	}
	span {
		padding: 0 3px;
		font-family: sans-serif;
	}
}

.shortcut-icon {
	position: relative;
	mask-size: contain;
	mask-repeat: no-repeat;
	&.active::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background-color: blue;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}
}
