@font-face {
	font-family: "zpix";
	src: url("../../../assets/fonts/zpix.ttf") format("truetype");
}

.desktop-shortcut {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #4D21CB;
	font-weight: 600;
	font-size: 12px;
	position: absolute;
	padding: 10px;
	width: 60px;
	img {
		width: 32px;
	}
	&:hover {
		// background-color: rgba(0, 0, 128, 0.082);
		// border-radius: 2px;
	}
	span {
		padding: 0 3px;
		font-family: "zpix";
		text-align: center;
	}
}

.shortcut-icon {
	position: relative;
	mask-size: contain;
	mask-repeat: no-repeat;
	&.active::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background-color: pink;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}
}
