.Desktop {
	background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
