.Desktop {
	// background-color: #008080;
	background-image: url("../../assets/needy-streamer-wp.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
