.Desktop {
	background-color: black;
	background-image: url('../../assets/1337.svg');
    background-size: 30%;
    background-position: center 43%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
