.window {
	position: absolute;
	overflow: hidden;
	padding: 34px 4px 16px 4px;
	border: 3px solid white;
	.container {
		height: 100%;
		border: 3px solid white;
	}
	&::after {
		content: "";
		position: absolute;
		background-image: url("../../assets/1337_c.png");
		background-size: 32px;
		background-position: bottom center;
        bottom: 2px;
		background-repeat: no-repeat;
		height: 30px;
		width: 50px;
	}
}

.cursor-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 214748364;
}

.window-overlay {
	cursor: default;
	position: absolute;
	top: 30px;
	left: 6px;
	height: calc(100% - 36px);
	width: calc(100% - 12px);
}

// tmp
.del-btn,
.maximize-btn {
	position: absolute;
	right: 4px;
	top: 4px;
}

.maximize-btn {
	right: 34px;
	font-size: 13px;
	padding: 0;
	width: 25px;
}
