.window {
    position: fixed;
    // left: 40%;
    // top: 40%;
    // width: 200px;
    // height: 200px;
    border-radius: 5px;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: aquamarine;
        top: 30px;
        left: 0;
    }
}

// tmp
.del-btn {
    position: absolute;
    right: 4px;
    top: 4px;
}